langchain
langchain-community
pypdf
langchain-core
pymupdf
ipykernel
langchain-text-splitters
sentence-transformers
chromadb
faiss-cpu
langchain_openai
langchain-groq
typesense
python-dotenv
numpy
docx2txt
unstructured
openpyxl



